{% extends 'base.html.twig' %}

{% block body %}
    <h1> new product </h1>
    <form>
        <label for="name"> Product Name </label>
        <input type="text" id="name" placeholder="Enter a product name" />
        <label for="description"> Description </label>
        <input type="text" id="description" placeholder="Enter a description" />
        <label for="size"> Product Size </label>
        <select id="size">
            <option value="100">100</option> 
            <option value="200">200</option> 
            <option value="300">300</option>
            <option value="400">400</option> 
        </select>
        <button>Send</button>
    </form>
{% endblock %}